# making data power bi ready

In [139]:
import numpy as np
import re
import pandas as pd
from sklearn.impute import KNNImputer

after importing all the neccessary libraries, now we will load all the csv files

In [2]:
df_kolkata=pd.read_csv("kolkata.csv")
df_gurgaon=pd.read_csv("gurgaon_10k.csv", low_memory=False)
df_mumbai=pd.read_csv("mumbai.csv")
df_hyderabad=pd.read_csv("hyderabad.csv")

In [3]:
df_kolkata.shape

(8797, 35)

In [4]:
df_gurgaon.shape

(10704, 67)

In [5]:
df_mumbai.shape

(9514, 55)

In [6]:
df_hyderabad.shape

(9487, 55)

lets make a single csv file with all the common columns

In [7]:
common_columns = set(df_kolkata.columns) & set(df_gurgaon.columns) & set(df_mumbai.columns) & set(df_hyderabad.columns)

In [8]:
common_columns = list(common_columns)
print(common_columns)

['PRICE_PER_UNIT_AREA', 'PROPERTY_TYPE', 'DESCRIPTION', 'TRANSACT_TYPE', 'PROP_HEADING', 'AMENITIES', 'OWNTYPE', 'PRICE_SQFT', 'BALCONY_NUM', 'AGE', 'location', 'CITY', 'BEDROOM_NUM', 'TOTAL_FLOOR', 'FURNISH', 'SOCIETY_NAME', 'PROP_ID', 'PREFERENCE', 'FORMATTED_LANDMARK_DETAILS', 'SECONDARY_TAGS', 'MAP_DETAILS', 'FEATURES', 'BUILDING_NAME', 'TOTAL_LANDMARK_COUNT', 'FLOOR_NUM', 'PROP_NAME', 'FACING', 'PRICE', 'AREA']

In [9]:
df_kolkata_common = df_kolkata[common_columns]
df_gurgaon_common = df_gurgaon[common_columns]
df_mumbai_common = df_mumbai[common_columns]
df_hyderabad_common = df_hyderabad[common_columns]

In [10]:
final_df = pd.concat([df_kolkata_common, df_gurgaon_common, df_mumbai_common, df_hyderabad_common], ignore_index=True)

In [11]:
final_df.to_csv('final.csv', index=False)

In [12]:
df=pd.read_csv("final.csv")

In [13]:
df.head()

,PRICE_PER_UNIT_AREA,PROPERTY_TYPE,DESCRIPTION,TRANSACT_TYPE,PROP_HEADING,AMENITIES,OWNTYPE,PRICE_SQFT,BALCONY_NUM,AGE,...,SECONDARY_TAGS,MAP_DETAILS,FEATURES,BUILDING_NAME,TOTAL_LANDMARK_COUNT,FLOOR_NUM,PROP_NAME,FACING,PRICE,AREA
0,3662.0,Residential Apartment,Book your 2 BHK flat in Srijan Star Swapno Pur...,2.0,2 BHK Flat in Amtala,NaN,1,3662.0,NaN,5,...,"['UNDER CONSTRUCTION', 'NEW BOOKING', 'RERA | ...","{'LATITUDE': '22.364447', 'LONGITUDE': '88.274...",N,Srijan Star Swapno Puron,2.0,1,Srijan Star Swapno Puron,0,19.1 L Onwards,518-623 sq.ft.
1,10500.0,Residential Apartment,Make Natural Quest your next home. This projec...,2.0,3 BHK Flat in EM Bypass,NaN,1,10500.0,NaN,5,...,"['UNDER CONSTRUCTION', 'NEW LAUNCH', 'NEW BOOK...","{'LATITUDE': '22.518795', 'LONGITUDE': '88.388...",N,Natural Quest,9.0,1,Natural Quest,0,1.17 - 1.18 Cr,1110-1121 sq.ft.
2,8900.0,Residential Apartment,"Book your 3 BHK apartment in Garia, Kolkata So...",2.0,3 BHK Flat in Garia,NaN,1,8900.0,NaN,5,...,"['UNDER CONSTRUCTION', 'NEW LAUNCH', 'NEW BOOK...","{'LATITUDE': '22.5137646', 'LONGITUDE': '88.36...",N,Ganguly 4Sight Eminence,6.0,1,Ganguly 4Sight Eminence,0,1.22 - 1.35 Cr,1376-1516 sq.ft.
3,208.0,Residential Land,"Dev bhumi in joka, kolkata south by ocean land...",2.0,Residential land / Plot in Joka,NaN,1,208.0,NaN,0,...,"['READY TO MOVE', 'NEW BOOKING']","{'LATITUDE': '22.45383', 'LONGITUDE': '88.2495...",N,Dev Bhumi,13.0,NaN,Dev Bhumi,0,1.5 - 5.99 L,720-2880 sq.ft.
4,5215.0,Residential Apartment,Let your dream of owning a flat come true with...,2.0,3 BHK Flat in Joka,NaN,1,5215.0,NaN,5,...,"['UNDER CONSTRUCTION', 'NEW BOOKING']","{'LATITUDE': '22.44213', 'LONGITUDE': '88.29551'}",N,DTC Sojon,11.0,1,DTC Sojon,0,60 - 75 L,1130-1460 sq.ft.

now we will do sanity check of the data

In [14]:
df.shape

(38502, 29)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38502 entries, 0 to 38501
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PRICE_PER_UNIT_AREA         38502 non-null  float64
 1   PROPERTY_TYPE               38502 non-null  object
 2   DESCRIPTION                 38502 non-null  object
 3   TRANSACT_TYPE               31988 non-null  float64
 4   PROP_HEADING                38502 non-null  object
 5   AMENITIES                   30485 non-null  object
 6   OWNTYPE                     38502 non-null  int64
 7   PRICE_SQFT                  38502 non-null  float64
 8   BALCONY_NUM                 28505 non-null  float64
 9   AGE                         38502 non-null  int64
 10  location                    38502 non-null  object
 11  CITY                        38502 non-null  object
 12  BEDROOM_NUM                 34948 non-null  float64
 13  TOTAL_FLOOR                 37850 non-null  float64
 14  FURNISH                     38502 non-null  int64
 15  SOCIETY_NAME                33484 non-null  object
 16  PROP_ID                     38502 non-null  object
 17  PREFERENCE                  38502 non-null  object
 18  FORMATTED_LANDMARK_DETAILS  36361 non-null  object
 19  SECONDARY_TAGS              38502 non-null  object
 20  MAP_DETAILS                 38502 non-null  object
 21  FEATURES                    38502 non-null  object
 22  BUILDING_NAME               33471 non-null  object
 23  TOTAL_LANDMARK_COUNT        36361 non-null  float64
 24  FLOOR_NUM                   31981 non-null  object
 25  PROP_NAME                   33484 non-null  object
 26  FACING                      38502 non-null  int64
 27  PRICE                       38502 non-null  object
 28  AREA                        38502 non-null  object
dtypes: float64(7), int64(4), object(18)
memory usage: 8.5+ MB

In [16]:
df.isnull().sum()

PRICE_PER_UNIT_AREA              0
PROPERTY_TYPE                    0
DESCRIPTION                      0
TRANSACT_TYPE                 6514
PROP_HEADING                     0
AMENITIES                     8017
OWNTYPE                          0
PRICE_SQFT                       0
BALCONY_NUM                   9997
AGE                              0
location                         0
CITY                             0
BEDROOM_NUM                   3554
TOTAL_FLOOR                    652
FURNISH                          0
SOCIETY_NAME                  5018
PROP_ID                          0
PREFERENCE                       0
FORMATTED_LANDMARK_DETAILS    2141
SECONDARY_TAGS                   0
MAP_DETAILS                      0
FEATURES                         0
BUILDING_NAME                 5031
TOTAL_LANDMARK_COUNT          2141
FLOOR_NUM                     6521
PROP_NAME                     5018
FACING                           0
PRICE                            0
AREA                             0
dtype: int64

In [17]:
df.isnull().sum()/df.shape[0]*100

PRICE_PER_UNIT_AREA            0.000000
PROPERTY_TYPE                  0.000000
DESCRIPTION                    0.000000
TRANSACT_TYPE                 16.918602
PROP_HEADING                   0.000000
AMENITIES                     20.822295
OWNTYPE                        0.000000
PRICE_SQFT                     0.000000
BALCONY_NUM                   25.964885
AGE                            0.000000
location                       0.000000
CITY                           0.000000
BEDROOM_NUM                    9.230689
TOTAL_FLOOR                    1.693419
FURNISH                        0.000000
SOCIETY_NAME                  13.033089
PROP_ID                        0.000000
PREFERENCE                     0.000000
FORMATTED_LANDMARK_DETAILS     5.560750
SECONDARY_TAGS                 0.000000
MAP_DETAILS                    0.000000
FEATURES                       0.000000
BUILDING_NAME                 13.066854
TOTAL_LANDMARK_COUNT           5.560750
FLOOR_NUM                     16.936783
PROP_NAME                     13.033089
FACING                         0.000000
PRICE                          0.000000
AREA                           0.000000
dtype: float64

In [18]:
df.duplicated().sum()

2

In [19]:
df.drop_duplicates(inplace=True)

In [20]:
df.duplicated().sum()

0

In [21]:
for i in df.select_dtypes(include="object").columns:
    print(df[i].value_counts())
    print("***"*10)

Residential Apartment        28548
Residential Land              3529
Independent/Builder Floor     3187
Independent House/Villa       2951
Studio Apartment               163
Serviced Apartments             80
Farm House                      40
Other                            2
Name: PROPERTY_TYPE, dtype: int64
******************************
Its on main road. Sarrounding villas & apartments projects available.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            92
All modes of public conveyance such as tmt/nmtc/ best buses, pvt. Buses, auto rickshaw, taxi etc are available almost 24 x 7 hrs. All the day to day requirements such as restaurants, grocery shops, malls, banks, atm's, schools & colleges are available in close vicinity.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   56
Very nicely built up ultra luxury builder floor with excellent interiors done with natural sunlight, all wardrobes are of ceiling hight, hettich modular kitchen, luxury washrooms with jaquar sanitary fittings wooden flooring in master bedroom, video door phone with electronic lock on the main gate and staircase gate, full length balcony with upvc windows, reserved car parking for visitors as well. This property offers a chance to witness to calm and reposed lifestyle amongst lush greenery . Walkin distance to huda market, swiss cottage school and manipal hospital.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       51
Gated community. Its in prime locality. Sarrounding villa & appartments project avail.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           46
Rera and hmda approved open plots for sale, north and east facing plots are available, spot registration.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        46
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ..
Emaar mgf palm terraces select elevationall photos & videos18\nVideos2\nEmaar mgf palm terraces select entranceoutdoors3\nHome\n\nProjects in gurgaon\n\nSector 66 gurgaon\n\nEmaar mgf palm terraces select\nEmaar mgf palm terraces select gurgaonemaar mgf palm terraces select \nSector 66, gurgaon\nRerano brokerage3d floor plans available+20 top facilities\nRequest callback\n4.6\n\nOverall rating\nBased on 3 reviews\nConstruction status\nReady to move\nSince aug, 2021\n 1.98 - 4.4 cr\n+ govt. Charges\nDownload brochure\nPrice range\n3, 4, 5 bhk apartment\n3 bhk\nApartment\nSuper built-Up area\n1650 sq.Ft.\n(153.29 sq.M.)\n 1.98 - 2.06 cr\n+ govt. Charges\n4 bhk\nApartment\nSuper built-Up area\n2410 sq.Ft.\n(223.9 sq.M.)\n 2.89 - 3.01 cr\n+ govt. Charges\n5 bhk\nApartment\nSuper built-Up area\n3670 sq.Ft.\n(340.95 sq.M.)\n 4.4 cr\n+ govt. Charges\nFloor plans & pricing\n3 bhk apartment4 bhk apar...5 bhk apar...\n1 floor plan available\n 1.98 - 2.06 cr\n1650 sq.Ft.\n(153.29 sq.M.)\nSuper built-Up area | 3 bhk\n\nReady to move\nUnits available with completion in aug 21\nRequest callback\nSellers you may contact for more details\nView all sellers\n3 bhk apartment4 bhk apartment5 bhk apartment\nDiscover home\nDiscover home\nRera registered dealer\nView contact\nGrrow property management pvt. Ltd.\nRera registered dealer\nView contact\nTop facilities\nView all (25)\nEmaar mgf palm terraces select gurgaon presents an exclusive opportunity to own ...\n\nBowling_alley\nBowling alley\nSwimming_pool\nSwimming pool\nBar_chill_out_lounge\nBar/chill-Out lounge\nChanging_area\nChanging area\nAerobics_centre\nAerobics centre\nJacuzzi\nJacuzzi\nBilliards\nBilliards\nLawn_tennis_court\nLawn tennis court\nParty_lawn\nParty lawn\nView facility photos\nLocation advantages\nView all (8)\nSector 66 is one of the prime locations to buy a home in gurgaon. There are 13 r...\n\nGolf course ext rd\n900 meter\nDps international edge\n1.5 km\nOmaxe gurgaon mall\n2.6 km\nPark hospital\n2.8 km\nSector 55/56 metro station\n7.1 km\nBadshahpur sohna rd hwy\n7.1 km\nSushant university\n7.8 km\nIndira gandhi intl airport\n22.8 km\nMore about emaar mgf palm terraces select\nEmaar mgf palm terraces select in sector 66, gurgaon is a ready-To-Move housing society. It offers apartments and independent floors in varied budget range. These units are a perfect combination of comfort and style, specifically designed to suit you...More     1
2bhk main 30mtr road 202sq.Yd park facing plot for sale in sector 30 gurgaon prime location suitable for doctor ca and other commercial use and residential use more details cal us.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1

In [22]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
PRICE_PER_UNIT_AREA,38500.0,118496.796961,4.385489e+06,0.0,4166.0,8974.0,17355.75,600000000.0
TRANSACT_TYPE,31987.0,1.204896,4.036317e-01,1.0,1.0,1.0,1.00,2.0
OWNTYPE,38500.0,0.898857,5.424917e-01,0.0,1.0,1.0,1.00,4.0
PRICE_SQFT,38500.0,118482.531065,4.385488e+06,0.0,4166.0,8974.0,17352.50,600000000.0
BALCONY_NUM,28503.0,1.947339,1.197352e+00,0.0,1.0,2.0,3.00,4.0
AGE,38500.0,3.136078,2.182688e+00,0.0,1.0,3.0,5.00,6.0
BEDROOM_NUM,34946.0,2.835375,1.616395e+00,1.0,2.0,3.0,3.00,77.0
TOTAL_FLOOR,37848.0,14.942798,1.350355e+01,0.0,4.0,12.0,22.00,117.0
FURNISH,38500.0,1.990234,1.601711e+00,0.0,0.0,2.0,4.00,4.0
TOTAL_LANDMARK_COUNT,36359.0,25.038807,1.769461e+01,1.0,10.0,15.0,47.00,50.0
FACING,38500.0,2.833636,2.320741e+00,0.0,0.0,3.0,5.00,8.0

In [23]:
df.describe(include="object")

,PROPERTY_TYPE,DESCRIPTION,PROP_HEADING,AMENITIES,location,CITY,SOCIETY_NAME,PROP_ID,PREFERENCE,FORMATTED_LANDMARK_DETAILS,SECONDARY_TAGS,MAP_DETAILS,FEATURES,BUILDING_NAME,FLOOR_NUM,PROP_NAME,PRICE,AREA
count,38500,38500,38500,30483,38500,38500,33482,38500,38500,36359,38500,38500,38500,33469,31979,33482,38500,38500
unique,8,35015,5967,14732,16614,17,9855,38487,3,5362,311,10201,13169,9850,79,9854,6452,5469
top,Residential Apartment,Its on main road. Sarrounding villas & apartme...,3 BHK Flat in New Town,"5,23,24,26","{'CITY': '28', 'CITY_NAME': 'Kolkata East', 'L...",Gurgaon,On Request,N70806490,S,"[{'category': 'MetroStation', 'text': '1 Metro...","['READY TO MOVE', 'RESALE']","{'LATITUDE': '78.48667', 'LONGITUDE': '17.38504'}",N,On Request,1,On Request,Price on Request,1800 sq.ft.
freq,28548,92,655,1818,1077,10704,329,2,32008,519,12814,481,8293,325,9020,327,394,794

In [24]:
df.isnull().sum()

PRICE_PER_UNIT_AREA              0
PROPERTY_TYPE                    0
DESCRIPTION                      0
TRANSACT_TYPE                 6513
PROP_HEADING                     0
AMENITIES                     8017
OWNTYPE                          0
PRICE_SQFT                       0
BALCONY_NUM                   9997
AGE                              0
location                         0
CITY                             0
BEDROOM_NUM                   3554
TOTAL_FLOOR                    652
FURNISH                          0
SOCIETY_NAME                  5018
PROP_ID                          0
PREFERENCE                       0
FORMATTED_LANDMARK_DETAILS    2141
SECONDARY_TAGS                   0
MAP_DETAILS                      0
FEATURES                         0
BUILDING_NAME                 5031
TOTAL_LANDMARK_COUNT          2141
FLOOR_NUM                     6521
PROP_NAME                     5018
FACING                           0
PRICE                            0
AREA                             0
dtype: int64

In [25]:
impute=KNNImputer()

In [26]:
for i in df.select_dtypes(include="number").columns:
    df[i]=impute.fit_transform(df[[i]])

In [27]:
df.isnull().sum()

PRICE_PER_UNIT_AREA              0
PROPERTY_TYPE                    0
DESCRIPTION                      0
TRANSACT_TYPE                    0
PROP_HEADING                     0
AMENITIES                     8017
OWNTYPE                          0
PRICE_SQFT                       0
BALCONY_NUM                      0
AGE                              0
location                         0
CITY                             0
BEDROOM_NUM                      0
TOTAL_FLOOR                      0
FURNISH                          0
SOCIETY_NAME                  5018
PROP_ID                          0
PREFERENCE                       0
FORMATTED_LANDMARK_DETAILS    2141
SECONDARY_TAGS                   0
MAP_DETAILS                      0
FEATURES                         0
BUILDING_NAME                 5031
TOTAL_LANDMARK_COUNT             0
FLOOR_NUM                     6521
PROP_NAME                     5018
FACING                           0
PRICE                            0
AREA                             0
dtype: int64

In [28]:
df.isnull().sum()

PRICE_PER_UNIT_AREA              0
PROPERTY_TYPE                    0
DESCRIPTION                      0
TRANSACT_TYPE                    0
PROP_HEADING                     0
AMENITIES                     8017
OWNTYPE                          0
PRICE_SQFT                       0
BALCONY_NUM                      0
AGE                              0
location                         0
CITY                             0
BEDROOM_NUM                      0
TOTAL_FLOOR                      0
FURNISH                          0
SOCIETY_NAME                  5018
PROP_ID                          0
PREFERENCE                       0
FORMATTED_LANDMARK_DETAILS    2141
SECONDARY_TAGS                   0
MAP_DETAILS                      0
FEATURES                         0
BUILDING_NAME                 5031
TOTAL_LANDMARK_COUNT             0
FLOOR_NUM                     6521
PROP_NAME                     5018
FACING                           0
PRICE                            0
AREA                             0
dtype: int64

In [35]:
df["SOCIETY_NAME"]=df["SOCIETY_NAME"].fillna("unknown")
df["FLOOR_NUM"]=df["FLOOR_NUM"].fillna("unknown")

In [40]:
df = df.fillna(method='ffill')  # Forward fill missing values

In [41]:
df = df.fillna(method='ffill')  # Forward fill missing values

In [42]:
df['BALCONY_NUM'].fillna(-1, inplace=True)  # Example: Fill with -1 or another appropriate value

In [43]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [44]:
df.fillna(method='ffill', inplace=True)  # Reapply forward fill if needed

In [46]:
df.isnull().sum()

PRICE_PER_UNIT_AREA           0
PROPERTY_TYPE                 0
DESCRIPTION                   0
TRANSACT_TYPE                 0
PROP_HEADING                  0
AMENITIES                     0
OWNTYPE                       0
PRICE_SQFT                    0
BALCONY_NUM                   0
AGE                           0
location                      0
CITY                          0
BEDROOM_NUM                   0
TOTAL_FLOOR                   0
FURNISH                       0
SOCIETY_NAME                  0
PROP_ID                       0
PREFERENCE                    0
FORMATTED_LANDMARK_DETAILS    0
SECONDARY_TAGS                0
MAP_DETAILS                   0
FEATURES                      0
BUILDING_NAME                 0
TOTAL_LANDMARK_COUNT          0
FLOOR_NUM                     0
PROP_NAME                     0
FACING                        0
PRICE                         0
AREA                          0
dtype: int64

In [47]:
df.to_csv('real_estate_data.csv', index=False)

we have successfully handles missing values and duplicates , as i loaded the data into excel i realized i need to remove some 
not so important columns and divide some columns into two
moreover we have to trim the values for them to function properly

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38500 entries, 0 to 38501
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PRICE_PER_UNIT_AREA         38500 non-null  float64
 1   PROPERTY_TYPE               38500 non-null  object
 2   DESCRIPTION                 38500 non-null  object
 3   TRANSACT_TYPE               38500 non-null  float64
 4   PROP_HEADING                38500 non-null  object
 5   AMENITIES                   38500 non-null  object
 6   OWNTYPE                     38500 non-null  float64
 7   PRICE_SQFT                  38500 non-null  float64
 8   BALCONY_NUM                 38500 non-null  float64
 9   AGE                         38500 non-null  float64
 10  location                    38500 non-null  object
 11  CITY                        38500 non-null  object
 12  BEDROOM_NUM                 38500 non-null  float64
 13  TOTAL_FLOOR                 38500 non-null  float64
 14  FURNISH                     38500 non-null  float64
 15  SOCIETY_NAME                38500 non-null  object
 16  PROP_ID                     38500 non-null  object
 17  PREFERENCE                  38500 non-null  object
 18  FORMATTED_LANDMARK_DETAILS  38500 non-null  object
 19  SECONDARY_TAGS              38500 non-null  object
 20  MAP_DETAILS                 38500 non-null  object
 21  FEATURES                    38500 non-null  object
 22  BUILDING_NAME               38500 non-null  object
 23  TOTAL_LANDMARK_COUNT        38500 non-null  float64
 24  FLOOR_NUM                   38500 non-null  object
 25  PROP_NAME                   38500 non-null  object
 26  FACING                      38500 non-null  float64
 27  PRICE                       38500 non-null  object
 28  AREA                        38500 non-null  object
dtypes: float64(11), object(18)
memory usage: 8.8+ MB

In [49]:
df = df.drop(columns=['FEATURES'])
df = df.drop(columns=['AMENITIES'])
df = df.drop(columns=['FURNISH'])
df = df.drop(columns=['FACING'])

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38500 entries, 0 to 38501
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PRICE_PER_UNIT_AREA         38500 non-null  float64
 1   PROPERTY_TYPE               38500 non-null  object
 2   DESCRIPTION                 38500 non-null  object
 3   TRANSACT_TYPE               38500 non-null  float64
 4   PROP_HEADING                38500 non-null  object
 5   OWNTYPE                     38500 non-null  float64
 6   PRICE_SQFT                  38500 non-null  float64
 7   BALCONY_NUM                 38500 non-null  float64
 8   AGE                         38500 non-null  float64
 9   location                    38500 non-null  object
 10  CITY                        38500 non-null  object
 11  BEDROOM_NUM                 38500 non-null  float64
 12  TOTAL_FLOOR                 38500 non-null  float64
 13  SOCIETY_NAME                38500 non-null  object
 14  PROP_ID                     38500 non-null  object
 15  PREFERENCE                  38500 non-null  object
 16  FORMATTED_LANDMARK_DETAILS  38500 non-null  object
 17  SECONDARY_TAGS              38500 non-null  object
 18  MAP_DETAILS                 38500 non-null  object
 19  BUILDING_NAME               38500 non-null  object
 20  TOTAL_LANDMARK_COUNT        38500 non-null  float64
 21  FLOOR_NUM                   38500 non-null  object
 22  PROP_NAME                   38500 non-null  object
 23  PRICE                       38500 non-null  object
 24  AREA                        38500 non-null  object
dtypes: float64(9), object(16)
memory usage: 7.6+ MB

In [53]:
split_columns = df['SECONDARY_TAGS'].str.split(',', expand=True)

In [54]:
expected_columns = ['status', 'ownership_type', 'rera/hera']
for i, col in enumerate(expected_columns):
    if i < split_columns.shape[1]:
        df[col] = split_columns[i]
    else:
        df[col] = None

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38500 entries, 0 to 38501
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PRICE_PER_UNIT_AREA         38500 non-null  float64
 1   PROPERTY_TYPE               38500 non-null  object
 2   DESCRIPTION                 38500 non-null  object
 3   TRANSACT_TYPE               38500 non-null  float64
 4   PROP_HEADING                38500 non-null  object
 5   OWNTYPE                     38500 non-null  float64
 6   PRICE_SQFT                  38500 non-null  float64
 7   BALCONY_NUM                 38500 non-null  float64
 8   AGE                         38500 non-null  float64
 9   location                    38500 non-null  object
 10  CITY                        38500 non-null  object
 11  BEDROOM_NUM                 38500 non-null  float64
 12  TOTAL_FLOOR                 38500 non-null  float64
 13  SOCIETY_NAME                38500 non-null  object
 14  PROP_ID                     38500 non-null  object
 15  PREFERENCE                  38500 non-null  object
 16  FORMATTED_LANDMARK_DETAILS  38500 non-null  object
 17  SECONDARY_TAGS              38500 non-null  object
 18  MAP_DETAILS                 38500 non-null  object
 19  BUILDING_NAME               38500 non-null  object
 20  TOTAL_LANDMARK_COUNT        38500 non-null  float64
 21  FLOOR_NUM                   38500 non-null  object
 22  PROP_NAME                   38500 non-null  object
 23  PRICE                       38500 non-null  object
 24  AREA                        38500 non-null  object
 25  status                      38500 non-null  object
 26  ownership_type              35809 non-null  object
 27  rera/hera                   17107 non-null  object
dtypes: float64(9), object(19)
memory usage: 8.5+ MB

In [59]:
df.isnull().sum()/df.shape[0]*100

PRICE_PER_UNIT_AREA            0.000000
PROPERTY_TYPE                  0.000000
DESCRIPTION                    0.000000
TRANSACT_TYPE                  0.000000
PROP_HEADING                   0.000000
OWNTYPE                        0.000000
PRICE_SQFT                     0.000000
BALCONY_NUM                    0.000000
AGE                            0.000000
location                       0.000000
CITY                           0.000000
BEDROOM_NUM                    0.000000
TOTAL_FLOOR                    0.000000
SOCIETY_NAME                   0.000000
PROP_ID                        0.000000
PREFERENCE                     0.000000
FORMATTED_LANDMARK_DETAILS     0.000000
SECONDARY_TAGS                 0.000000
MAP_DETAILS                    0.000000
BUILDING_NAME                  0.000000
TOTAL_LANDMARK_COUNT           0.000000
FLOOR_NUM                      0.000000
PROP_NAME                      0.000000
PRICE                          0.000000
AREA                           0.000000
status                         0.000000
ownership_type                 6.989610
rera/hera                     55.566234
dtype: float64

In [60]:
df = df.drop(columns=['SECONDARY_TAGS'])
df = df.drop(columns=['rera/hera'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38500 entries, 0 to 38501
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PRICE_PER_UNIT_AREA         38500 non-null  float64
 1   PROPERTY_TYPE               38500 non-null  object
 2   DESCRIPTION                 38500 non-null  object
 3   TRANSACT_TYPE               38500 non-null  float64
 4   PROP_HEADING                38500 non-null  object
 5   OWNTYPE                     38500 non-null  float64
 6   PRICE_SQFT                  38500 non-null  float64
 7   BALCONY_NUM                 38500 non-null  float64
 8   AGE                         38500 non-null  float64
 9   location                    38500 non-null  object
 10  CITY                        38500 non-null  object
 11  BEDROOM_NUM                 38500 non-null  float64
 12  TOTAL_FLOOR                 38500 non-null  float64
 13  SOCIETY_NAME                38500 non-null  object
 14  PROP_ID                     38500 non-null  object
 15  PREFERENCE                  38500 non-null  object
 16  FORMATTED_LANDMARK_DETAILS  38500 non-null  object
 17  MAP_DETAILS                 38500 non-null  object
 18  BUILDING_NAME               38500 non-null  object
 19  TOTAL_LANDMARK_COUNT        38500 non-null  float64
 20  FLOOR_NUM                   38500 non-null  object
 21  PROP_NAME                   38500 non-null  object
 22  PRICE                       38500 non-null  object
 23  AREA                        38500 non-null  object
 24  status                      38500 non-null  object
 25  ownership_type              35809 non-null  object
dtypes: float64(9), object(17)
memory usage: 7.9+ MB

In [62]:
df['ownership_type'].fillna('for rent', inplace=True)

PRICE_PER_UNIT_AREA           0
PROPERTY_TYPE                 0
DESCRIPTION                   0
TRANSACT_TYPE                 0
PROP_HEADING                  0
OWNTYPE                       0
PRICE_SQFT                    0
BALCONY_NUM                   0
AGE                           0
location                      0
CITY                          0
BEDROOM_NUM                   0
TOTAL_FLOOR                   0
SOCIETY_NAME                  0
PROP_ID                       0
PREFERENCE                    0
FORMATTED_LANDMARK_DETAILS    0
MAP_DETAILS                   0
BUILDING_NAME                 0
TOTAL_LANDMARK_COUNT          0
FLOOR_NUM                     0
PROP_NAME                     0
PRICE                         0
AREA                          0
status                        0
ownership_type                0
dtype: int64

In [66]:
furnish_data = pd.read_csv('real_estate_data.csv', usecols=['FURNISH'])

# Add the 'furnish' column back to the DataFrame
df['FURNISH'] = furnish_data['FURNISH']

PRICE_PER_UNIT_AREA           0
PROPERTY_TYPE                 0
DESCRIPTION                   0
TRANSACT_TYPE                 0
PROP_HEADING                  0
OWNTYPE                       0
PRICE_SQFT                    0
BALCONY_NUM                   0
AGE                           0
location                      0
CITY                          0
BEDROOM_NUM                   0
TOTAL_FLOOR                   0
SOCIETY_NAME                  0
PROP_ID                       0
PREFERENCE                    0
FORMATTED_LANDMARK_DETAILS    0
MAP_DETAILS                   0
BUILDING_NAME                 0
TOTAL_LANDMARK_COUNT          0
FLOOR_NUM                     0
PROP_NAME                     0
PRICE                         0
AREA                          0
status                        0
ownership_type                0
FURNISH                       2
dtype: int64

In [69]:
split_columns = df['MAP_DETAILS'].str.split(',', expand=True)

In [70]:
expected_columns = ['LATTITUDE','LONGITUDE']
for i, col in enumerate(expected_columns):
    if i < split_columns.shape[1]:
        df[col] = split_columns[i]
    else:
        df[col] = None

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38500 entries, 0 to 38501
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PRICE_PER_UNIT_AREA         38500 non-null  float64
 1   PROPERTY_TYPE               38500 non-null  object
 2   DESCRIPTION                 38500 non-null  object
 3   TRANSACT_TYPE               38500 non-null  float64
 4   PROP_HEADING                38500 non-null  object
 5   OWNTYPE                     38500 non-null  float64
 6   PRICE_SQFT                  38500 non-null  float64
 7   BALCONY_NUM                 38500 non-null  float64
 8   AGE                         38500 non-null  float64
 9   location                    38500 non-null  object
 10  CITY                        38500 non-null  object
 11  BEDROOM_NUM                 38500 non-null  float64
 12  TOTAL_FLOOR                 38500 non-null  float64
 13  SOCIETY_NAME                38500 non-null  object
 14  PROP_ID                     38500 non-null  object
 15  PREFERENCE                  38500 non-null  object
 16  FORMATTED_LANDMARK_DETAILS  38500 non-null  object
 17  MAP_DETAILS                 38500 non-null  object
 18  BUILDING_NAME               38500 non-null  object
 19  TOTAL_LANDMARK_COUNT        38500 non-null  float64
 20  FLOOR_NUM                   38500 non-null  object
 21  PROP_NAME                   38500 non-null  object
 22  PRICE                       38500 non-null  object
 23  AREA                        38500 non-null  object
 24  status                      38500 non-null  object
 25  ownership_type              38500 non-null  object
 26  FURNISH                     38498 non-null  float64
 27  LATTITUDE                   38500 non-null  object
 28  LONGITUDE                   38500 non-null  object
dtypes: float64(10), object(19)
memory usage: 8.8+ MB

In [73]:
df = df.drop(columns=['MAP_DETAILS'])

In [75]:
df = df.drop(columns=['TRANSACT_TYPE'])

In [79]:
df.to_csv('working1.csv', index=False)

In [80]:
df.head()

,PRICE_PER_UNIT_AREA,PROPERTY_TYPE,DESCRIPTION,PROP_HEADING,OWNTYPE,PRICE_SQFT,BALCONY_NUM,AGE,location,CITY,...,TOTAL_LANDMARK_COUNT,FLOOR_NUM,PROP_NAME,PRICE,AREA,status,ownership_type,FURNISH,LATTITUDE,LONGITUDE
0,3662.0,Residential Apartment,Book your 2 BHK flat in Srijan Star Swapno Pur...,2 BHK Flat in Amtala,1.0,3662.0,1.947339,5.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,...,2.0,1,Srijan Star Swapno Puron,19.1 L Onwards,518-623 sq.ft.,['UNDER CONSTRUCTION','NEW BOOKING',0.0,{'LATITUDE': '22.364447','LONGITUDE': '88.274642'}
1,10500.0,Residential Apartment,Make Natural Quest your next home. This projec...,3 BHK Flat in EM Bypass,1.0,10500.0,1.947339,5.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,...,9.0,1,Natural Quest,1.17 - 1.18 Cr,1110-1121 sq.ft.,['UNDER CONSTRUCTION','NEW LAUNCH',0.0,{'LATITUDE': '22.518795','LONGITUDE': '88.388439'}
2,8900.0,Residential Apartment,"Book your 3 BHK apartment in Garia, Kolkata So...",3 BHK Flat in Garia,1.0,8900.0,1.947339,5.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,...,6.0,1,Ganguly 4Sight Eminence,1.22 - 1.35 Cr,1376-1516 sq.ft.,['UNDER CONSTRUCTION','NEW LAUNCH',0.0,{'LATITUDE': '22.5137646','LONGITUDE': '88.3666797'}
3,208.0,Residential Land,"Dev bhumi in joka, kolkata south by ocean land...",Residential land / Plot in Joka,1.0,208.0,1.947339,0.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,...,13.0,unknown,Dev Bhumi,1.5 - 5.99 L,720-2880 sq.ft.,['READY TO MOVE','NEW BOOKING'],0.0,{'LATITUDE': '22.45383','LONGITUDE': '88.249572'}
4,5215.0,Residential Apartment,Let your dream of owning a flat come true with...,3 BHK Flat in Joka,1.0,5215.0,1.947339,5.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,...,11.0,1,DTC Sojon,60 - 75 L,1130-1460 sq.ft.,['UNDER CONSTRUCTION','NEW BOOKING'],0.0,{'LATITUDE': '22.44213','LONGITUDE': '88.29551'}

In [81]:
def clean_latitude(lat_str):
    latitude = lat_str.split("{'LATITUDE': '")[1].split("'")[0]
    return float(latitude)

In [83]:
df['LATTITUDE'] = df['LATTITUDE'].apply(clean_latitude)

In [87]:
def clean_LONGITUDE(lat_str):
    LONGITUDE = lat_str.split("'LONGITUDE': '")[1].split("'")[0]
    return float(LONGITUDE)
df['LONGITUDE'] = df['LONGITUDE'].apply(clean_LONGITUDE)

i accidently excetued the following comment again so they showed error , but this was the code to trim and split the prop head column

In [100]:
# df[['Property_Type', 'Location']] = df['PROP_HEADING'].str.extract(r'(.+?)(?:in\s)(.+)')

In [98]:
# df = df.drop(columns=['PROP_HEADING'])

In [102]:
df.rename(columns={'location': 'locality'}, inplace=True)

In [113]:
df.head(2)

,PRICE_PER_UNIT_AREA,PROPERTY_TYPE,DESCRIPTION,OWNTYPE,PRICE_SQFT,BALCONY_NUM,AGE,locality,CITY,BEDROOM_NUM,...,PROP_NAME,PRICE,AREA,status,ownership_type,FURNISH,LATTITUDE,LONGITUDE,Property_Type,Location
0,3662.0,Residential Apartment,Book your 2 BHK flat in Srijan Star Swapno Pur...,1.0,3662.0,1.947339,5.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,Srijan Star Swapno Puron,19.1 L Onwards,518-623 sq.ft.,['UNDER CONSTRUCTION','NEW BOOKING',0.0,22.364447,88.274642,2 BHK Flat,Amtala
1,10500.0,Residential Apartment,Make Natural Quest your next home. This projec...,1.0,10500.0,1.947339,5.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,3.0,...,Natural Quest,1.17 - 1.18 Cr,1110-1121 sq.ft.,['UNDER CONSTRUCTION','NEW LAUNCH',0.0,22.518795,88.388439,3 BHK Flat,EM Bypass

In [115]:
def extract_value(s):
    if isinstance(s, str):
        parts = s.split("'")
        # Check if the list has enough elements
        if len(parts) > 1:
            return parts[1]
    # Return the original value if it's not a string or doesn't have the expected format
    return s

# Apply the function to the column
df['status'] = df['status'].apply(extract_value)

In [117]:
df['ownership_type'] = df['ownership_type'].apply(extract_value)

In [121]:
df.tail()

,PRICE_PER_UNIT_AREA,PROPERTY_TYPE,DESCRIPTION,OWNTYPE,PRICE_SQFT,BALCONY_NUM,AGE,locality,CITY,BEDROOM_NUM,...,PROP_NAME,PRICE,AREA IN SQFT,status,ownership_type,FURNISH,LATTITUDE,LONGITUDE,Property_Type,Location
38497,19000.0,Residential Land,North and east facing approved open plots avai...,1.0,19000.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,2.835375,...,kgn,31.73 L,1503 sq.ft.,EAST FACING,AUTHORITY APPROVED,4.0,17.463918,78.624229,Residential land / Plot,Ghatkesar
38498,11000.0,Residential Land,North and east facing approved open plots avai...,1.0,11000.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,2.835375,...,kgn,33 L,2700 sq.ft.,EAST FACING,AUTHORITY APPROVED,2.0,16.985875,78.499864,Residential land / Plot,Kadthal
38499,15.0,Independent/Builder Floor,"2bhk, independent building floor available for...",0.0,15.0,1.0,1.0,"{'CITY': '268', 'CITY_NAME': 'Secunderabad', '...",Secunderabad,2.000000,...,kgn,"15,000",1000 sq.ft.,FOR SINGLE MEN,FOR SINGLE WOMEN,2.0,17.465387,78.478036,2 BHK Independent Builder Floor,Bowenpally
38500,6400.0,Residential Apartment,A project by sora constructions\nGhmc & rera a...,1.0,6400.0,2.0,5.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.000000,...,Greenwoods Project,1.02 Cr,1600 sq.ft.,UNDER CONSTRUCTION,RESALE,NaN,17.470780,78.306680,3 BHK Flat,Nallagandla
38501,5328.0,Residential Apartment,Grama panchayithi approval\nProject located at...,1.0,5328.0,2.0,6.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,2.000000,...,Pavan Heights,65 L,1220 sq.ft.,READY TO MOVE,RESALE,NaN,17.401162,78.375690,2 BHK Flat,Manikonda

In [119]:
df['BALCONY_NUM'] = df['BALCONY_NUM'].round()

In [120]:
df.rename(columns={'AREA': 'AREA IN SQFT'}, inplace=True)

In [122]:
def process_area(area_str):
    if isinstance(area_str, str):
        # Remove 'sq.ft.' from the string
        area_str = area_str.replace(' sq.ft.', '')
        
        # Handle range of values
        if '-' in area_str:
            # Split the range and calculate the average
            lower, upper = map(float, area_str.split('-'))
            return (lower + upper) / 2
        else:
            # If there's no range, just return the value
            return float(area_str)
    return np.nan

# Apply the function to the 'AREA IN SQFT' column
df['AREA IN SQFT'] = df['AREA IN SQFT'].apply(process_area)

In [124]:
df['BEDROOM_NUM'] = df['BEDROOM_NUM'].round()

In [128]:
df.tail(30)

,PRICE_PER_UNIT_AREA,PROPERTY_TYPE,DESCRIPTION,OWNTYPE,PRICE_SQFT,BALCONY_NUM,AGE,locality,CITY,BEDROOM_NUM,...,PROP_NAME,PRICE,AREA IN SQFT,status,ownership_type,FURNISH,LATTITUDE,LONGITUDE,Property_Type,Location
38472,17333.0,Residential Land,Hmda approved plot for sale near to main road ...,1.0,17333.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,26 L,1350.0,EAST FACING,IN GATED COMMUNITY,0.0,17.463918,78.624229,Residential land / Plot,Ghatkesar
38473,17333.0,Residential Land,Hmda approved plot for sale near to main road ...,1.0,17333.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,26 L,1350.0,EAST FACING,IN GATED COMMUNITY,0.0,17.463918,78.624229,Residential land / Plot,Ghatkesar
38474,17333.0,Residential Land,Hmda approved plot for sale near to main road ...,1.0,17333.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,26 L,1350.0,EAST FACING,IN GATED COMMUNITY,0.0,17.463918,78.624229,Residential land / Plot,Ghatkesar
38475,17333.0,Residential Land,Hmda approved plot for sale near to main road ...,1.0,17333.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,26 L,1350.0,EAST FACING,IN GATED COMMUNITY,0.0,17.463918,78.624229,Residential land / Plot,Ghatkesar
38476,17333.0,Residential Land,Hmda approved plot for sale near to main road ...,1.0,17333.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,26 L,1350.0,EAST FACING,IN GATED COMMUNITY,0.0,17.463918,78.624229,Residential land / Plot,Ghatkesar
38477,17333.0,Residential Land,Hmda approved plot for sale near to main road ...,1.0,17333.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,26 L,1350.0,EAST FACING,IN GATED COMMUNITY,0.0,17.463918,78.624229,Residential land / Plot,Ghatkesar
38478,17333.0,Residential Land,Hmda approved plot for sale near to main road ...,1.0,17333.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,26 L,1350.0,EAST FACING,IN GATED COMMUNITY,0.0,17.463918,78.624229,Residential land / Plot,Ghatkesar
38479,15990.0,Residential Land,North and east facing approved open plots avai...,1.0,15990.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,31.98 L,1800.0,EAST FACING,AUTHORITY APPROVED,0.0,17.071390,78.205312,Residential land / Plot,Shad nagar
38480,15999.0,Residential Land,North and east facing approved open plots avai...,1.0,15999.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,24 L,1350.0,EAST FACING,AUTHORITY APPROVED,0.0,17.071390,78.205312,Residential land / Plot,Shad nagar
38481,15999.0,Residential Land,North and east facing approved open plots avai...,1.0,15999.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,40 L,2250.0,EAST FACING,AUTHORITY APPROVED,0.0,17.071390,78.205312,Residential land / Plot,Shad nagar
38482,7999.0,Residential Land,North and east facing approved open plots avai...,1.0,7999.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,16 L,1800.0,EAST FACING,AUTHORITY APPROVED,0.0,17.071390,78.205312,Residential land / Plot,Shad nagar
38483,8000.0,Residential Land,North and east facing approved open plots avai...,1.0,8000.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,16 L,1800.0,EAST FACING,AUTHORITY APPROVED,0.0,17.071390,78.205312,Residential land / Plot,Shad nagar
38484,17000.0,Residential Land,North and east facing approved open plots avai...,1.0,17000.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,34 L,1800.0,EAST FACING,AUTHORITY APPROVED,0.0,17.071390,78.205312,Residential land / Plot,Shad nagar
38485,8000.0,Residential Land,North and east facing approved open plots avai...,1.0,8000.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,16 L,1800.0,EAST FACING,AUTHORITY APPROVED,0.0,17.071390,78.205312,Residential land / Plot,Shad nagar
38486,15999.0,Residential Land,North and east facing approved open plots avai...,1.0,15999.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,26.72 L,1503.0,EAST FACING,DTCP APPROVED,0.0,17.071390,78.205312,Residential land / Plot,Shad nagar
38487,7999.0,Residential Land,North and east facing approved open plots avai...,1.0,7999.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,20 L,2250.0,EAST FACING,DTCP APPROVED,0.0,17.071390,78.205312,Residential land / Plot,Shad nagar
38488,12500.0,Residential Land,North and east facing approved open plots avai...,1.0,12500.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,18.75 L,1350.0,EAST FACING,DTCP APPROVED,0.0,17.619700,78.082693,Residential land / Plot,Sangareddy
38489,17000.0,Residential Land,North and east facing approved open plots avai...,1.0,17000.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,36.38 L,1926.0,EAST FACING,DTCP APPROVED,0.0,17.071390,78.205312,Residential land / Plot,Shad nagar
38490,12500.0,Residential Land,North and east facing approved open plots avai...,1.0,12500.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,25 L,1800.0,EAST FACING,DTCP APPROVED,0.0,17.619700,78.082693,Residential land / Plot,Sangareddy
38491,12500.0,Residential Land,North and east facing approved open plots avai...,1.0,12500.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,22.88 L,1647.0,EAST FACING,AUTHORITY APPROVED,0.0,17.619700,78.082693,Residential land / Plot,Sangareddy
38492,17000.0,Residential Land,North and east facing approved open plots avai...,1.0,17000.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,31.11 L,1647.0,EAST FACING,DTCP APPROVED,0.0,17.620662,77.953509,Residential land / Plot,Sadashivpet
38493,12500.0,Residential Land,North and east facing approved open plots avai...,1.0,12500.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,31.25 L,2250.0,EAST FACING,DTCP APPROVED,0.0,17.619700,78.082693,Residential land / Plot,Sangareddy
38494,14000.0,Residential Land,North and east facing approved open plots avai...,1.0,14000.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,21 L,1350.0,EAST FACING,AUTHORITY APPROVED,0.0,17.619700,78.082693,Residential land / Plot,Sangareddy
38495,11000.0,Residential Land,North and east facing approved open plots avai...,1.0,11000.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,22 L,1800.0,EAST FACING,AUTHORITY APPROVED,0.0,16.985875,78.499864,Residential land / Plot,Kadthal
38496,11000.0,Residential Land,North and east facing approved open plots avai...,1.0,11000.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,18.37 L,1503.0,EAST FACING,AUTHORITY APPROVED,0.0,16.985875,78.499864,Residential land / Plot,Kadthal
38497,19000.0,Residential Land,North and east facing approved open plots avai...,1.0,19000.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,31.73 L,1503.0,EAST FACING,AUTHORITY APPROVED,4.0,17.463918,78.624229,Residential land / Plot,Ghatkesar
38498,11000.0,Residential Land,North and east facing approved open plots avai...,1.0,11000.0,2.0,0.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,kgn,33 L,2700.0,EAST FACING,AUTHORITY APPROVED,2.0,16.985875,78.499864,Residential land / Plot,Kadthal
38499,15.0,Independent/Builder Floor,"2bhk, independent building floor available for...",0.0,15.0,1.0,1.0,"{'CITY': '268', 'CITY_NAME': 'Secunderabad', '...",Secunderabad,2.0,...,kgn,"15,000",1000.0,FOR SINGLE MEN,FOR SINGLE WOMEN,2.0,17.465387,78.478036,2 BHK Independent Builder Floor,Bowenpally
38500,6400.0,Residential Apartment,A project by sora constructions\nGhmc & rera a...,1.0,6400.0,2.0,5.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,3.0,...,Greenwoods Project,1.02 Cr,1600.0,UNDER CONSTRUCTION,RESALE,NaN,17.470780,78.306680,3 BHK Flat,Nallagandla
38501,5328.0,Residential Apartment,Grama panchayithi approval\nProject located at...,1.0,5328.0,2.0,6.0,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",Hyderabad,2.0,...,Pavan Heights,65 L,1220.0,READY TO MOVE,RESALE,NaN,17.401162,78.375690,2 BHK Flat,Manikonda

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38500 entries, 0 to 38501
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PRICE_PER_UNIT_AREA         38500 non-null  float64
 1   PROPERTY_TYPE               38500 non-null  object
 2   DESCRIPTION                 38500 non-null  object
 3   OWNTYPE                     38500 non-null  float64
 4   PRICE_SQFT                  38500 non-null  float64
 5   BALCONY_NUM                 38500 non-null  float64
 6   AGE                         38500 non-null  float64
 7   locality                    38500 non-null  object
 8   CITY                        38500 non-null  object
 9   BEDROOM_NUM                 38500 non-null  float64
 10  TOTAL_FLOOR                 38500 non-null  float64
 11  SOCIETY_NAME                38500 non-null  object
 12  PROP_ID                     38500 non-null  object
 13  PREFERENCE                  38500 non-null  object
 14  FORMATTED_LANDMARK_DETAILS  38500 non-null  object
 15  BUILDING_NAME               38500 non-null  object
 16  TOTAL_LANDMARK_COUNT        38500 non-null  float64
 17  FLOOR_NUM                   38500 non-null  object
 18  PROP_NAME                   38500 non-null  object
 19  PRICE                       38500 non-null  object
 20  AREA IN SQFT                38500 non-null  float64
 21  status                      38500 non-null  object
 22  ownership_type              38500 non-null  object
 23  FURNISH                     38498 non-null  float64
 24  LATTITUDE                   38500 non-null  float64
 25  LONGITUDE                   38500 non-null  float64
 26  Property_Type               38500 non-null  object
 27  Location                    38500 non-null  object
dtypes: float64(12), object(16)
memory usage: 8.5+ MB

realized that making price into one unit format will be trouble with rental and sales both in same database so we made 2 csv one with rentals and other with sales

In [156]:
df_rentals = df[
    df['PRICE'].str.contains('/bed', case=False, na=False) |
    df['PRICE'].str.contains('Price on request', case=False, na=False) |
    df['PRICE'].str.replace(',', '').str.isnumeric()
]

In [157]:
# Filter rows where 'PRICE' does not match the rental conditions above
df_sales = df[
    ~df['PRICE'].str.contains('/bed', case=False, na=False) &
    ~df['PRICE'].str.contains('Price on request', case=False, na=False) &
    ~df['PRICE'].str.replace(',', '').str.isnumeric()
]

In [158]:
df_rentals['PRICE'].str.contains('Price on request', na=False).sum()

0

In [159]:
df_rentals.head(30)

,PRICE_PER_UNIT_AREA,PROPERTY_TYPE,DESCRIPTION,OWNTYPE,PRICE_SQFT,BALCONY_NUM,AGE,locality,CITY,BEDROOM_NUM,...,PROP_NAME,PRICE,AREA IN SQFT,status,ownership_type,FURNISH,LATTITUDE,LONGITUDE,Property_Type,Location
11,7.0,Residential Apartment,A luxurious pg accommodation is available in t...,0.0,7.0,1.0,3.0,"{'CITY': '30', 'CITY_NAME': 'Kolkata Central',...",Kolkata Central,4.0,...,Ganga Jamuna Apartment,"11,000/Bed",1500.0,FURNISHED,SHARED BY 3,1.0,22.543910,88.355401,4 BHK Flat,Shakespeare Sarani
24,7.0,Residential Apartment,Property description designed to suit ones lif...,0.0,7.0,3.0,3.0,"{'CITY': '28', 'CITY_NAME': 'Kolkata East', 'L...",Kolkata East,4.0,...,Bhariravi apartment,"10,000/Bed",1300.0,FURNISHED,SHARED BY 2,1.0,22.581047,88.462231,4 BHK Flat,Action Area 1
25,5.0,Residential Apartment,Pg only for working ladies and girl students.\...,0.0,5.0,1.0,2.0,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",Kolkata North,3.0,...,Vijay Lakshmi Apartments,"6,000/Bedroom",1200.0,PRIVATE ROOM,for rent,4.0,22.650056,88.441311,3 BHK Flat,Dum Dum
38,5.0,Independent/Builder Floor,Well maintained & secured pg/paying guest in k...,0.0,5.0,1.0,2.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,4.0,...,Sunday On The House,"10,000/Bed",2000.0,FURNISHED,SHARED BY 3,1.0,22.534637,88.348268,4 BHK Independent Builder Floor,Jadubabur Bazar
130,5.0,Independent House/Villa,"Pg for boy availaible for rent, market is 2 mi...",0.0,5.0,0.0,1.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,Green View Residency,"3,000/Bed",600.0,FURNISHED,SHARED BY 2,1.0,22.527344,88.344062,2 Bedroom House,Patuapara
142,0.0,Residential Apartment,"Book your 2 BHK apartment in New Town, Kolkata...",1.0,0.0,2.0,5.0,"{'CITY': '28', 'CITY_NAME': 'Kolkata East', 'L...",Kolkata East,2.0,...,Woodwinds,Price on Request,789.0,UNDER CONSTRUCTION,NEW BOOKING,0.0,22.592205,88.452142,2 BHK Flat,New Town
196,8.0,Independent House/Villa,This area is very homely and peaceful.,0.0,8.0,0.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,Hive Pinnacle Residency,"5,001/Bed",600.0,FURNISHED,SHARED BY 2,1.0,22.533000,88.359000,2 Bedroom House,Ballygunge
250,0.0,Residential Apartment,Sapnil Residency offers 1 BHK apartments in No...,1.0,0.0,2.0,5.0,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",Kolkata North,1.0,...,Sapnil Residency,Price on Request,657.5,UNDER CONSTRUCTION,NEW BOOKING,0.0,22.641617,88.382771,1 BHK Flat,Noapara
286,0.0,Residential Apartment,"Prudent Pragati is a residential project, offe...",1.0,0.0,2.0,5.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,1.0,...,Prudent Pragati,Price on Request,713.0,UNDER CONSTRUCTION,NEW LAUNCH,0.0,22.434568,88.402079,1 BHK Flat,Narendrapur
290,16.0,Residential Apartment,Awesome view and wonderful amenities,0.0,16.0,1.0,2.0,"{'CITY': '28', 'CITY_NAME': 'Kolkata East', 'L...",Kolkata East,1.0,...,New Town Tower,"4,900/Bed",300.0,FURNISHED,SHARED BY 2,1.0,22.600691,88.469454,1 BHK Flat,New Town
291,45.0,Independent/Builder Floor,Independent/builder floor is available for pg....,0.0,45.0,0.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,1.0,...,New Town Tower,"8,000/Bed",160.0,SHARED BY 5,for rent,4.0,22.495000,88.372000,1 BHK Independent Builder Floor,Jadavpur
292,10.0,Residential Apartment,Best location to access every place in kolkata...,0.0,10.0,1.0,3.0,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",Kolkata North,2.0,...,Bangur Avenue,"7,501/Bed",750.0,SHARED BY 2,for rent,2.0,22.606173,88.407854,2 BHK Flat,Lake Town
293,10.0,Independent House/Villa,Pg for girls in jadavpur- Food and wifi is inc...,0.0,10.0,0.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,Bangur Avenue,"8,000/Bed",800.0,FURNISHED,SHARED BY 2,1.0,22.495000,88.372000,2 Bedroom House,Jadavpur
295,10.0,Independent House/Villa,Double sharring/ single room pg for girls at k...,0.0,10.0,0.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,1.0,...,Puja Apartment Kasba,"6,200/Bed",600.0,FURNISHED,SHARED BY 2,1.0,22.519587,88.376107,1 Bedroom House,Kasba
300,2.0,Independent House/Villa,Government registered pg for females and highl...,0.0,2.0,1.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,6.0,...,Shanti Niketan Complex,"5,000/Bed",2000.0,FURNISHED,SHARED BY 2,1.0,22.487844,88.354289,6 Bedroom House,Regent Park
315,30.0,Residential Apartment,Kolkata north's most popular society signum wi...,0.0,30.0,2.0,6.0,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",Kolkata North,4.0,...,Signum Windmere,"45,000",1657.0,FOR SINGLE MEN,FOR SINGLE WOMEN,2.0,22.698023,88.438331,4 BHK Flat,Madhyamgram
352,18.0,Independent House/Villa,My property is in prime location . 1 min walk ...,0.0,18.0,2.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,Srijoyee,"18,000",950.0,FOR SINGLE MEN,FOR SINGLE WOMEN,4.0,22.513630,88.388275,2 Bedroom House,Kasba
392,3.0,Residential Apartment,24 hours security. Elegant surroundings. Vitri...,0.0,3.0,1.0,3.0,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",Kolkata North,2.0,...,RDB Regent Pearl,"3,000/Bed",850.0,SHARED BY 2,for rent,4.0,22.696866,88.412716,2 BHK Flat,Barasat
393,14.0,Independent House/Villa,Pg is located in a very serene area.Rooms are ...,0.0,14.0,0.0,1.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,RDB Regent Pearl,"2,800/Bed",200.0,FURNISHED,SHARED BY 2,1.0,22.502198,88.375414,2 Bedroom House,Jadavpur
394,6.0,Independent House/Villa,"A tidy, clean girls' pg is available near kabi...",0.0,6.0,1.0,2.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,3.0,...,RDB Regent Pearl,"4,500/Bed",680.0,SHARED BY 3,for rent,4.0,22.457894,88.383531,3 Bedroom House,Hindustan More
395,2.0,Independent House/Villa,"Nandi ladies pg, dum dum station, near bandhu ...",0.0,2.0,0.0,3.0,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",Kolkata North,4.0,...,RDB Regent Pearl,"2,800/Bed",1200.0,FURNISHED,SHARED BY 4,1.0,22.621122,88.394112,4 Bedroom House,Dum Dum Metro
396,16.0,Independent House/Villa,This is a gents stay facility\n2 out of 4 room...,0.0,16.0,1.0,3.0,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",Kolkata North,1.0,...,RDB Regent Pearl,"5,000/Bedroom",300.0,FURNISHED,PRIVATE ROOM,1.0,22.595870,88.385700,1 Bedroom House,Ultadanga
397,13.0,Independent/Builder Floor,A decent semi-Furnished pg/paying guest in bha...,0.0,13.0,1.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,RDB Regent Pearl,"4,000/Bedroom",300.0,PRIVATE ROOM,for rent,4.0,22.532300,88.342270,2 BHK Independent Builder Floor,Bhawanipore
398,3.0,Independent House/Villa,"Near to masterda surya sen metro station , ban...",0.0,3.0,0.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,RDB Regent Pearl,"2,350/Bed",600.0,SHARED BY 2,for rent,4.0,22.459650,88.365210,2 Bedroom House,Brahmapur
399,5.0,Independent House/Villa,"Nandi ladies pg, 4 shearing bed available, dum...",0.0,5.0,0.0,3.0,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",Kolkata North,2.0,...,RDB Regent Pearl,"2,850/Bed",500.0,FURNISHED,SHARED BY 4,1.0,22.621056,88.394049,2 Bedroom House,Dum Dum Metro
400,10.0,Residential Apartment,"Apartment available for rent in kasba, kolkata...",0.0,10.0,1.0,2.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,jahura bazarsociety,"3,000/Bed",300.0,SHARED BY 2,for rent,4.0,22.519587,88.376107,2 BHK Flat,Kasba
401,25.0,Independent/Builder Floor,My property is situated beside the main road a...,0.0,25.0,1.0,6.0,"{'CITY': '28', 'CITY_NAME': 'Kolkata East', 'L...",Kolkata East,5.0,...,jahura bazarsociety,"3,100/Bedroom",120.0,FURNISHED,PRIVATE ROOM,1.0,22.623582,88.441041,5 BHK Independent Builder Floor,Chinar Park
402,18.0,Independent House/Villa,At prof.S home pg accommodation for male stude...,0.0,18.0,2.0,3.0,"{'CITY': '30', 'CITY_NAME': 'Kolkata Central',...",Kolkata Central,3.0,...,jahura bazarsociety,"3,600/Bed",200.0,FURNISHED,SHARED BY 3,1.0,22.568000,88.372000,3 Bedroom House,Sealdah
404,2.0,Residential Apartment,Walking distance from geetanjali metro. Bus st...,0.0,2.0,1.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,Green View,"2,500/Bed",1051.0,SHARED BY 2,for rent,4.0,22.465030,88.394210,2 BHK Flat,EM Bypass
409,2.0,Independent House/Villa,Dadu's mess\nBoys' pg\n Type (1)-Rent 2500 \n(...,0.0,2.0,0.0,1.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,3.0,...,DADU'S MESS,"2,500/Bed",900.0,SHARED BY 3,for rent,4.0,22.495000,88.372000,3 Bedroom House,Jadavpur

In [162]:
def extract_numeric(price):
    if isinstance(price, str):
        # Remove any non-numeric characters and convert to float
        price = re.sub(r'[^\d.]+', '', price)
        return float(price) if price else np.nan
    return price

# Apply the function to the 'PRICE' column
df_rentals['PRICE'] = df_rentals['PRICE'].apply(extract_numeric)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16244\955704924.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rentals['PRICE'] = df_rentals['PRICE'].apply(extract_numeric)

In [164]:
df_rentals.head(30)

,PRICE_PER_UNIT_AREA,PROPERTY_TYPE,DESCRIPTION,OWNTYPE,PRICE_SQFT,BALCONY_NUM,AGE,locality,CITY,BEDROOM_NUM,...,PROP_NAME,PRICE,AREA IN SQFT,status,ownership_type,FURNISH,LATTITUDE,LONGITUDE,Property_Type,Location
11,7.0,Residential Apartment,A luxurious pg accommodation is available in t...,0.0,7.0,1.0,3.0,"{'CITY': '30', 'CITY_NAME': 'Kolkata Central',...",Kolkata Central,4.0,...,Ganga Jamuna Apartment,11000.0,1500.0,FURNISHED,SHARED BY 3,1.0,22.543910,88.355401,4 BHK Flat,Shakespeare Sarani
24,7.0,Residential Apartment,Property description designed to suit ones lif...,0.0,7.0,3.0,3.0,"{'CITY': '28', 'CITY_NAME': 'Kolkata East', 'L...",Kolkata East,4.0,...,Bhariravi apartment,10000.0,1300.0,FURNISHED,SHARED BY 2,1.0,22.581047,88.462231,4 BHK Flat,Action Area 1
25,5.0,Residential Apartment,Pg only for working ladies and girl students.\...,0.0,5.0,1.0,2.0,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",Kolkata North,3.0,...,Vijay Lakshmi Apartments,6000.0,1200.0,PRIVATE ROOM,for rent,4.0,22.650056,88.441311,3 BHK Flat,Dum Dum
38,5.0,Independent/Builder Floor,Well maintained & secured pg/paying guest in k...,0.0,5.0,1.0,2.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,4.0,...,Sunday On The House,10000.0,2000.0,FURNISHED,SHARED BY 3,1.0,22.534637,88.348268,4 BHK Independent Builder Floor,Jadubabur Bazar
130,5.0,Independent House/Villa,"Pg for boy availaible for rent, market is 2 mi...",0.0,5.0,0.0,1.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,Green View Residency,3000.0,600.0,FURNISHED,SHARED BY 2,1.0,22.527344,88.344062,2 Bedroom House,Patuapara
142,0.0,Residential Apartment,"Book your 2 BHK apartment in New Town, Kolkata...",1.0,0.0,2.0,5.0,"{'CITY': '28', 'CITY_NAME': 'Kolkata East', 'L...",Kolkata East,2.0,...,Woodwinds,NaN,789.0,UNDER CONSTRUCTION,NEW BOOKING,0.0,22.592205,88.452142,2 BHK Flat,New Town
196,8.0,Independent House/Villa,This area is very homely and peaceful.,0.0,8.0,0.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,Hive Pinnacle Residency,5001.0,600.0,FURNISHED,SHARED BY 2,1.0,22.533000,88.359000,2 Bedroom House,Ballygunge
250,0.0,Residential Apartment,Sapnil Residency offers 1 BHK apartments in No...,1.0,0.0,2.0,5.0,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",Kolkata North,1.0,...,Sapnil Residency,NaN,657.5,UNDER CONSTRUCTION,NEW BOOKING,0.0,22.641617,88.382771,1 BHK Flat,Noapara
286,0.0,Residential Apartment,"Prudent Pragati is a residential project, offe...",1.0,0.0,2.0,5.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,1.0,...,Prudent Pragati,NaN,713.0,UNDER CONSTRUCTION,NEW LAUNCH,0.0,22.434568,88.402079,1 BHK Flat,Narendrapur
290,16.0,Residential Apartment,Awesome view and wonderful amenities,0.0,16.0,1.0,2.0,"{'CITY': '28', 'CITY_NAME': 'Kolkata East', 'L...",Kolkata East,1.0,...,New Town Tower,4900.0,300.0,FURNISHED,SHARED BY 2,1.0,22.600691,88.469454,1 BHK Flat,New Town
291,45.0,Independent/Builder Floor,Independent/builder floor is available for pg....,0.0,45.0,0.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,1.0,...,New Town Tower,8000.0,160.0,SHARED BY 5,for rent,4.0,22.495000,88.372000,1 BHK Independent Builder Floor,Jadavpur
292,10.0,Residential Apartment,Best location to access every place in kolkata...,0.0,10.0,1.0,3.0,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",Kolkata North,2.0,...,Bangur Avenue,7501.0,750.0,SHARED BY 2,for rent,2.0,22.606173,88.407854,2 BHK Flat,Lake Town
293,10.0,Independent House/Villa,Pg for girls in jadavpur- Food and wifi is inc...,0.0,10.0,0.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,Bangur Avenue,8000.0,800.0,FURNISHED,SHARED BY 2,1.0,22.495000,88.372000,2 Bedroom House,Jadavpur
295,10.0,Independent House/Villa,Double sharring/ single room pg for girls at k...,0.0,10.0,0.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,1.0,...,Puja Apartment Kasba,6200.0,600.0,FURNISHED,SHARED BY 2,1.0,22.519587,88.376107,1 Bedroom House,Kasba
300,2.0,Independent House/Villa,Government registered pg for females and highl...,0.0,2.0,1.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,6.0,...,Shanti Niketan Complex,5000.0,2000.0,FURNISHED,SHARED BY 2,1.0,22.487844,88.354289,6 Bedroom House,Regent Park
315,30.0,Residential Apartment,Kolkata north's most popular society signum wi...,0.0,30.0,2.0,6.0,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",Kolkata North,4.0,...,Signum Windmere,45000.0,1657.0,FOR SINGLE MEN,FOR SINGLE WOMEN,2.0,22.698023,88.438331,4 BHK Flat,Madhyamgram
352,18.0,Independent House/Villa,My property is in prime location . 1 min walk ...,0.0,18.0,2.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,Srijoyee,18000.0,950.0,FOR SINGLE MEN,FOR SINGLE WOMEN,4.0,22.513630,88.388275,2 Bedroom House,Kasba
392,3.0,Residential Apartment,24 hours security. Elegant surroundings. Vitri...,0.0,3.0,1.0,3.0,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",Kolkata North,2.0,...,RDB Regent Pearl,3000.0,850.0,SHARED BY 2,for rent,4.0,22.696866,88.412716,2 BHK Flat,Barasat
393,14.0,Independent House/Villa,Pg is located in a very serene area.Rooms are ...,0.0,14.0,0.0,1.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,RDB Regent Pearl,2800.0,200.0,FURNISHED,SHARED BY 2,1.0,22.502198,88.375414,2 Bedroom House,Jadavpur
394,6.0,Independent House/Villa,"A tidy, clean girls' pg is available near kabi...",0.0,6.0,1.0,2.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,3.0,...,RDB Regent Pearl,4500.0,680.0,SHARED BY 3,for rent,4.0,22.457894,88.383531,3 Bedroom House,Hindustan More
395,2.0,Independent House/Villa,"Nandi ladies pg, dum dum station, near bandhu ...",0.0,2.0,0.0,3.0,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",Kolkata North,4.0,...,RDB Regent Pearl,2800.0,1200.0,FURNISHED,SHARED BY 4,1.0,22.621122,88.394112,4 Bedroom House,Dum Dum Metro
396,16.0,Independent House/Villa,This is a gents stay facility\n2 out of 4 room...,0.0,16.0,1.0,3.0,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",Kolkata North,1.0,...,RDB Regent Pearl,5000.0,300.0,FURNISHED,PRIVATE ROOM,1.0,22.595870,88.385700,1 Bedroom House,Ultadanga
397,13.0,Independent/Builder Floor,A decent semi-Furnished pg/paying guest in bha...,0.0,13.0,1.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,RDB Regent Pearl,4000.0,300.0,PRIVATE ROOM,for rent,4.0,22.532300,88.342270,2 BHK Independent Builder Floor,Bhawanipore
398,3.0,Independent House/Villa,"Near to masterda surya sen metro station , ban...",0.0,3.0,0.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,RDB Regent Pearl,2350.0,600.0,SHARED BY 2,for rent,4.0,22.459650,88.365210,2 Bedroom House,Brahmapur
399,5.0,Independent House/Villa,"Nandi ladies pg, 4 shearing bed available, dum...",0.0,5.0,0.0,3.0,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",Kolkata North,2.0,...,RDB Regent Pearl,2850.0,500.0,FURNISHED,SHARED BY 4,1.0,22.621056,88.394049,2 Bedroom House,Dum Dum Metro
400,10.0,Residential Apartment,"Apartment available for rent in kasba, kolkata...",0.0,10.0,1.0,2.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,jahura bazarsociety,3000.0,300.0,SHARED BY 2,for rent,4.0,22.519587,88.376107,2 BHK Flat,Kasba
401,25.0,Independent/Builder Floor,My property is situated beside the main road a...,0.0,25.0,1.0,6.0,"{'CITY': '28', 'CITY_NAME': 'Kolkata East', 'L...",Kolkata East,5.0,...,jahura bazarsociety,3100.0,120.0,FURNISHED,PRIVATE ROOM,1.0,22.623582,88.441041,5 BHK Independent Builder Floor,Chinar Park
402,18.0,Independent House/Villa,At prof.S home pg accommodation for male stude...,0.0,18.0,2.0,3.0,"{'CITY': '30', 'CITY_NAME': 'Kolkata Central',...",Kolkata Central,3.0,...,jahura bazarsociety,3600.0,200.0,FURNISHED,SHARED BY 3,1.0,22.568000,88.372000,3 Bedroom House,Sealdah
404,2.0,Residential Apartment,Walking distance from geetanjali metro. Bus st...,0.0,2.0,1.0,3.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,Green View,2500.0,1051.0,SHARED BY 2,for rent,4.0,22.465030,88.394210,2 BHK Flat,EM Bypass
409,2.0,Independent House/Villa,Dadu's mess\nBoys' pg\n Type (1)-Rent 2500 \n(...,0.0,2.0,0.0,1.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,3.0,...,DADU'S MESS,2500.0,900.0,SHARED BY 3,for rent,4.0,22.495000,88.372000,3 Bedroom House,Jadavpur

In [165]:
df_rentals.isnull().sum()

PRICE_PER_UNIT_AREA             0
PROPERTY_TYPE                   0
DESCRIPTION                     0
OWNTYPE                         0
PRICE_SQFT                      0
BALCONY_NUM                     0
AGE                             0
locality                        0
CITY                            0
BEDROOM_NUM                     0
TOTAL_FLOOR                     0
SOCIETY_NAME                    0
PROP_ID                         0
PREFERENCE                      0
FORMATTED_LANDMARK_DETAILS      0
BUILDING_NAME                   0
TOTAL_LANDMARK_COUNT            0
FLOOR_NUM                       0
PROP_NAME                       0
PRICE                         394
AREA IN SQFT                    0
status                          0
ownership_type                  0
FURNISH                         0
LATTITUDE                       0
LONGITUDE                       0
Property_Type                   0
Location                        0
dtype: int64

In [170]:
df_rentals.dropna(subset=['PRICE'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16244\3268987692.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rentals.dropna(subset=['PRICE'], inplace=True)

In [171]:
df_rentals.isnull().sum()

PRICE_PER_UNIT_AREA           0
PROPERTY_TYPE                 0
DESCRIPTION                   0
OWNTYPE                       0
PRICE_SQFT                    0
BALCONY_NUM                   0
AGE                           0
locality                      0
CITY                          0
BEDROOM_NUM                   0
TOTAL_FLOOR                   0
SOCIETY_NAME                  0
PROP_ID                       0
PREFERENCE                    0
FORMATTED_LANDMARK_DETAILS    0
BUILDING_NAME                 0
TOTAL_LANDMARK_COUNT          0
FLOOR_NUM                     0
PROP_NAME                     0
PRICE                         0
AREA IN SQFT                  0
status                        0
ownership_type                0
FURNISH                       0
LATTITUDE                     0
LONGITUDE                     0
Property_Type                 0
Location                      0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5834 entries, 11 to 38499
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PRICE_PER_UNIT_AREA         5834 non-null   float64
 1   PROPERTY_TYPE               5834 non-null   object
 2   DESCRIPTION                 5834 non-null   object
 3   OWNTYPE                     5834 non-null   float64
 4   PRICE_SQFT                  5834 non-null   float64
 5   BALCONY_NUM                 5834 non-null   float64
 6   AGE                         5834 non-null   float64
 7   locality                    5834 non-null   object
 8   CITY                        5834 non-null   object
 9   BEDROOM_NUM                 5834 non-null   float64
 10  TOTAL_FLOOR                 5834 non-null   float64
 11  SOCIETY_NAME                5834 non-null   object
 12  PROP_ID                     5834 non-null   object
 13  PREFERENCE                  5834 non-null   object
 14  FORMATTED_LANDMARK_DETAILS  5834 non-null   object
 15  BUILDING_NAME               5834 non-null   object
 16  TOTAL_LANDMARK_COUNT        5834 non-null   float64
 17  FLOOR_NUM                   5834 non-null   object
 18  PROP_NAME                   5834 non-null   object
 19  PRICE                       5834 non-null   float64
 20  AREA IN SQFT                5834 non-null   float64
 21  status                      5834 non-null   object
 22  ownership_type              5834 non-null   object
 23  FURNISH                     5834 non-null   float64
 24  LATTITUDE                   5834 non-null   float64
 25  LONGITUDE                   5834 non-null   float64
 26  Property_Type               5834 non-null   object
 27  Location                    5834 non-null   object
dtypes: float64(13), object(15)
memory usage: 1.3+ MB

In [174]:
df_rentals.to_csv('rental_real_Estate.csv', index=False)

In [182]:
df_sales.head()

,PRICE_PER_UNIT_AREA,PROPERTY_TYPE,DESCRIPTION,OWNTYPE,PRICE_SQFT,BALCONY_NUM,AGE,locality,CITY,BEDROOM_NUM,...,PROP_NAME,PRICE,AREA IN SQFT,status,ownership_type,FURNISH,LATTITUDE,LONGITUDE,Property_Type,Location
0,3662.0,Residential Apartment,Book your 2 BHK flat in Srijan Star Swapno Pur...,1.0,3662.0,2.0,5.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,2.0,...,Srijan Star Swapno Puron,19.1 L Onwards,570.5,UNDER CONSTRUCTION,NEW BOOKING,0.0,22.364447,88.274642,2 BHK Flat,Amtala
1,10500.0,Residential Apartment,Make Natural Quest your next home. This projec...,1.0,10500.0,2.0,5.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,3.0,...,Natural Quest,1.17 - 1.18 Cr,1115.5,UNDER CONSTRUCTION,NEW LAUNCH,0.0,22.518795,88.388439,3 BHK Flat,EM Bypass
2,8900.0,Residential Apartment,"Book your 3 BHK apartment in Garia, Kolkata So...",1.0,8900.0,2.0,5.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,3.0,...,Ganguly 4Sight Eminence,1.22 - 1.35 Cr,1446.0,UNDER CONSTRUCTION,NEW LAUNCH,0.0,22.513765,88.366680,3 BHK Flat,Garia
3,208.0,Residential Land,"Dev bhumi in joka, kolkata south by ocean land...",1.0,208.0,2.0,0.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,3.0,...,Dev Bhumi,1.5 - 5.99 L,1800.0,READY TO MOVE,NEW BOOKING,0.0,22.453830,88.249572,Residential land / Plot,Joka
4,5215.0,Residential Apartment,Let your dream of owning a flat come true with...,1.0,5215.0,2.0,5.0,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",Kolkata South,3.0,...,DTC Sojon,60 - 75 L,1295.0,UNDER CONSTRUCTION,NEW BOOKING,0.0,22.442130,88.295510,3 BHK Flat,Joka

In [183]:
def convert_price(value):
    # Remove commas and extra spaces
    value = value.replace(',', '').strip()
    
    # Remove non-numeric words
    value = re.sub(r'\s+Onwards.*', '', value).strip()
    
    # Handle ranges by splitting
    if '-' in value:
        start, end = value.split('-')
        # Convert each part to numeric
        start = convert_price(start)
        end = convert_price(end)
        # Return the average
        return (start + end) / 2
    
    # Convert 'L' and 'Cr' to numeric values
    if 'L' in value:
        return float(value.replace('L', '').strip()) * 100000
    elif 'Cr' in value:
        return float(value.replace('Cr', '').strip()) * 10000000
    else:
        # Handle cases where the value might already be numeric
        try:
            return float(value)
        except ValueError:
            return None

# Apply the conversion function to the 'PRICE' column
df_sales['PRICE'] = df_sales['PRICE'].apply(convert_price)

In [186]:
df_sales.isnull().sum()

PRICE_PER_UNIT_AREA           0
PROPERTY_TYPE                 0
DESCRIPTION                   0
OWNTYPE                       0
PRICE_SQFT                    0
BALCONY_NUM                   0
AGE                           0
locality                      0
CITY                          0
BEDROOM_NUM                   0
TOTAL_FLOOR                   0
SOCIETY_NAME                  0
PROP_ID                       0
PREFERENCE                    0
FORMATTED_LANDMARK_DETAILS    0
BUILDING_NAME                 0
TOTAL_LANDMARK_COUNT          0
FLOOR_NUM                     0
PROP_NAME                     0
PRICE                         0
AREA IN SQFT                  0
status                        0
ownership_type                0
FURNISH                       2
LATTITUDE                     0
LONGITUDE                     0
Property_Type                 0
Location                      0
dtype: int64

In [187]:
df_sales.dropna(subset=['FURNISH'], inplace=True)

In [188]:
df_sales.isnull().sum()

PRICE_PER_UNIT_AREA           0
PROPERTY_TYPE                 0
DESCRIPTION                   0
OWNTYPE                       0
PRICE_SQFT                    0
BALCONY_NUM                   0
AGE                           0
locality                      0
CITY                          0
BEDROOM_NUM                   0
TOTAL_FLOOR                   0
SOCIETY_NAME                  0
PROP_ID                       0
PREFERENCE                    0
FORMATTED_LANDMARK_DETAILS    0
BUILDING_NAME                 0
TOTAL_LANDMARK_COUNT          0
FLOOR_NUM                     0
PROP_NAME                     0
PRICE                         0
AREA IN SQFT                  0
status                        0
ownership_type                0
FURNISH                       0
LATTITUDE                     0
LONGITUDE                     0
Property_Type                 0
Location                      0
dtype: int64

In [190]:
df_sales.to_csv('sales_real_Estate.csv', index=False)

In [191]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32270 entries, 0 to 38498
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PRICE_PER_UNIT_AREA         32270 non-null  float64
 1   PROPERTY_TYPE               32270 non-null  object
 2   DESCRIPTION                 32270 non-null  object
 3   OWNTYPE                     32270 non-null  float64
 4   PRICE_SQFT                  32270 non-null  float64
 5   BALCONY_NUM                 32270 non-null  float64
 6   AGE                         32270 non-null  float64
 7   locality                    32270 non-null  object
 8   CITY                        32270 non-null  object
 9   BEDROOM_NUM                 32270 non-null  float64
 10  TOTAL_FLOOR                 32270 non-null  float64
 11  SOCIETY_NAME                32270 non-null  object
 12  PROP_ID                     32270 non-null  object
 13  PREFERENCE                  32270 non-null  object
 14  FORMATTED_LANDMARK_DETAILS  32270 non-null  object
 15  BUILDING_NAME               32270 non-null  object
 16  TOTAL_LANDMARK_COUNT        32270 non-null  float64
 17  FLOOR_NUM                   32270 non-null  object
 18  PROP_NAME                   32270 non-null  object
 19  PRICE                       32270 non-null  float64
 20  AREA IN SQFT                32270 non-null  float64
 21  status                      32270 non-null  object
 22  ownership_type              32270 non-null  object
 23  FURNISH                     32270 non-null  float64
 24  LATTITUDE                   32270 non-null  float64
 25  LONGITUDE                   32270 non-null  float64
 26  Property_Type               32270 non-null  object
 27  Location                    32270 non-null  object
dtypes: float64(13), object(15)
memory usage: 7.1+ MB